<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wrestlers by Weight Class</title>
    <style>
        .container {
            display: flex;
            flex-wrap: wrap;
        }
        .column {
            flex: 50%;
            padding: 10px;
            box-sizing: border-box;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <h1>Wrestlers Listed by Weight Class</h1>
    <div class="container">
        {% for weight_class, wrestlers in wrestlers_by_weight.items() %}
        {% if weight_class != 'None' %}
        <div class="column">
            <h2>Weight Class {{ weight_class }}</h2>
            <table id="weightClassTable{{ weight_class }}">
                <tr>
                    <th onclick="sortTable('weightClassTable{{ weight_class }}', 0)">Name</th>
                    <th onclick="sortTable('weightClassTable{{ weight_class }}', 1)">Seed</th>
                    <th onclick="sortTable('weightClassTable{{ weight_class }}', 2)">Weight Class</th>
                    <th onclick="sortTable('weightClassTable{{ weight_class }}', 3)">Score</th>
                    <th onclick="sortTable('weightClassTable{{ weight_class }}', 4)">All American</th>
                    <th onclick="sortTable('weightClassTable{{ weight_class }}', 5)">Finalist</th>
                    <th onclick="sortTable('weightClassTable{{ weight_class }}', 6)">Medal</th>
                    <th onclick="sortTable('weightClassTable{{ weight_class }}', 7)">Number of Times Picked</th>
                </tr>
                {% for wrestler in wrestlers|sort(attribute='4', reverse=True) %}
                <tr>
                    <td>{{ wrestler[1] }}</td>
                    <td>{{ wrestler[2] }}</td>
                    <td>{{ wrestler[3] }}</td>
                    <td>{{ wrestler[4] }}</td>
                    <td>{{ 'Yes' if wrestler[5] else 'No' }}</td>
                    <td>{{ 'Yes' if wrestler[7] else 'No' }}</td>
                    <td>{{ wrestler[6] }}</td>
                    <td>{{ wrestler[8] }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <a href="{{ url_for('index') }}">Back to Teams</a>

    <script>
        function sortTable(tableId, n) {
            var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
            table = document.getElementById(tableId);
            switching = true;
            dir = "asc"; 
            while (switching) {
                switching = false;
                rows = table.rows;
                for (i = 1; i < (rows.length - 1); i++) {
                    shouldSwitch = false;
                    x = rows[i].getElementsByTagName("TD")[n];
                    y = rows[i + 1].getElementsByTagName("TD")[n];
                    if (dir == "asc") {
                        if (n == 0 || n == 2) {
                            if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                                shouldSwitch = true;
                                break;
                            }
                        } else {
                            if (parseInt(x.innerHTML) > parseInt(y.innerHTML)) {
                                shouldSwitch = true;
                                break;
                            }
                        }
                    } else if (dir == "desc") {
                        if (n == 0 || n == 2) {
                            if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                                shouldSwitch = true;
                                break;
                            }
                        } else {
                            if (parseInt(x.innerHTML) < parseInt(y.innerHTML)) {
                                shouldSwitch = true;
                                break;
                            }
                        }
                    }
                }
                if (shouldSwitch) {
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                    switchcount ++;
                } else {
                    if (switchcount == 0 && dir == "asc") {
                        dir = "desc";
                        switching = true;
                    }
                }
            }
        }
    </script>
</body>
</html>